:root {
    --blue: #2604f9;
    --gray: #5a5a5a;
    --gray2: #555555;
    --white: #fff;
    --white2:#fdfcf9;
    --black: #000;
    --violet: #664efc;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.page {
    background-image: radial-gradient(at top left, #ebcbf7 0%, #f9e9ec 15%, #fdfcf9 30%);
}
.page, .page-two {
    height: 100vh;
    padding: 5% 10%;
}
.page-two {
    background-color: var(--white);
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--gray);
    font-size: 0.9rem;
}

.btn {
    color: var(--white);
    background-color: var(--violet);
    padding: 4% 6%;
    border-radius: 6px;
    white-space: nowrap;
    text-align: center;
    display: inline-block;
}

.hamburger-menu {
    display: none;
}


/* First content */
.first-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 7%;
}
.first-text {
    margin-top: 10%;
}

.main-title {
    font-size: 3rem;
    font-weight: 600;
    color: var(--black);
    line-height: 1.2; 
}

.first-text p {
    color: var(--gray);
    margin: 3% 0; 
}

.first-text div p {
    margin: 1% 0 !important;
}
.sec-btn {
    padding: 3% 5%!important;
    margin-bottom: 3%;
}

.first-text div p > strong {
    color: var(--violet);
}

.main-image img {
    width: 100%;
    height: 95%;
} 

/* Second content*/
.second-content {
    margin: 10% 0;
}
.second-content__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}
.second-content__text {
    width: 50%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.second-content__text .second-title {
    color: var(--black);
    font-size: 1.8rem;
    font-weight: 600;
}

.second-title + p {
    color: var(--gray);
}

.second-title ~ a {
    color: var(--violet);
    font-weight: 600;
}

.second-content__img {
    width: 35%;
}

/* Footer */
.footer {
    display: flex;
    margin-top: 15%;
    padding: 5% 10%;
    gap: 200px;
    justify-content: space-between;
    background-color: var(--white2);
}

.footer-lists {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
}

.footer-indiebrew {
    width: 30%;
}

.footer-indiebrew h3, .lists-title {
    color: var(--black);
    font-weight: 800;
    padding-bottom: 2%;
}

.footer-indiebrew p, .lists-title ~ li {
    color: var(--gray);
    font-weight: 400;
}

.made-in {
    padding-top: 7%;
}

@media (max-width: 810px) {
    .page-two {
        height: 100%;
    }
    .first-content {
        display: flex;
        flex-direction: column-reverse;

    }
    .main-image img {
        height: 100%;
        width: 80%;
        padding-left: 20%;
    }

    .second-content__text {
        width: auto;
    }

    .second-content__img {
        width: 100%;
    }

    .footer {
        gap: 120px;
        padding: 5%;
    }

    .footer-indiebrew {
        width: 80%;
    } 
}

@media (max-width: 560px) {
   
    .navbar {
        display: none;
    }

    .hamburger-menu {
        display: inline-block;
        /* padding-left: 50%; */
        padding: 0 5% 0 45%; 
    }
   
    .second-content__main:nth-child(1) {
        flex-direction: column-reverse;
    }

    .second-content__main {
        flex-direction: column;
        gap: 15px;
    }

    .img-two {
        width: 80%;
        margin-top: 5%;
    }
    
    .footer {
        flex-direction: column;
    }
    .footer-indiebrew {
        width: 100%;
        margin: 7% 0;
    }
    .footer-lists {
        justify-content: space-between;
    }
}